<div id="unidadeTmpl">
    <div style="float:left;width:150px" class="sestPicture unidade">
        <!--<img src="http://www.sestsenat.org.br/PublishingImages/Unidades/104.jpg" alt="unidade samambaia" style="width:90%" />-->
        <!--<img data-src="" data-alt="Nome" data-link-wrap="authorPicture" />-->
    </div>
    <div>
        <h3>Endereço</h3>
        <p>
            <span data-content="Endereco"></span><br />
            CEP: <span data-content="CEP"></span>
        </p>
        <h3>Contatos</h3>
        <p>
            Telefone: <span data-content="Telefone"></span><br />            
            Fax: <span data-content="Fax"></span><br />
            Email: <span data-content="Email"></span>
        </p>
        <h3>Horário de Funcionamento</h3>
        <p>
            <span data-content="HorarioFuncionamento"></span>
        </p>
        <h3>Sábado e domingo</h3>
        <p>
            Consulte a programação da unidade por telefone
        </p>
    </div>
</div>