<header>
    <a onclick='af.ui.toggleSideMenu();' class='menuButton'></a>
    <a id="backButton" class="button backButton">Voltar</a>
    <h1></h1>
</header>

<main>
    <div class="main-container">
        <div id="containerUnidade" ></div>
        <div id="containerMapa">
            <div class="btZoom">
                <h4 id="btAmpliarMapa" class="btAmpliarMapa">
                    Expandir Mapa
                </h4>
            </div>
            <div id="myMap"></div>
        </div>

        <!--<div class="conteudoServico" style="display:none">
            <div id="servicoSaude"></div>
            <div id="servicoCursos"></div>
            <div id="servicoLazer"></div>
            <div id="servicoOdontologia"></div>
        </div>-->
    </div>
</main>
    <!--<a href="#" data-transition="fade">
        <i class="icon icon-phone g" ></i>
        <p class="icone">Chamar</p>
    </a>-->
<footer>
    <a href="#mapa" data-transition="fade">
        <i class="icon icon-location g"></i>
        <p class="icone">Chegar aqui</p>
    </a>
</footer>

<div id="containerTmpl"></div>
<div id="unidadeTmpl" style="display:none">
    <div class="box-photo">
        <div class="sestPicture unidade">
            <img data-src="imagem" style="width:100%" />
            <!--<img data-src="" data-alt="Nome" data-link-wrap="authorPicture" />-->
            <div id="servicos">
                <ul  class="tabServicos">
                    <li data-for="servicoSaude">
                        <p>
                            <i class=" icon-estetoscopio icon-2x "></i>
                            Saúde
                        </p>
                    </li>
                    <li data-for="servicoCursos">
                        <p>
                            <i class="icon-palestra icon-2x"></i>
                            Cursos
                        </p>
                    </li>
                    <li data-for="servicoLazer">
                        <p>
                            <i class="icon-esporte icon-2x"></i>
                            Esporte e Lazer
                        </p>
                    </li>
                    <li data-for="servicoOdontologia">
                        <p>
                            <i class="icon-dente icon-2x"></i>
                            Odontologia
                        </p>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div>
        <h3>Endereço</h3>
        <p>
            <span data-content="Endereco"></span><br />
            CEP: <span data-content="CEP"></span>
        </p>
        <h3>Contatos</h3>
        <p>
            Telefone: <span data-content="Telefone"></span><br />
            Fax: <span data-content="Fax"></span><br />
            E-mail: <span data-content="Email"></span>
        </p>
        <h3>Horário de Funcionamento</h3>
        <p>
            <span data-content="HorarioFuncionamento"></span>
        </p>
        <!--<h3>Sábado e domingo</h3>
        <p>
            Consulte a programação da unidade por telefone
        </p>-->
    </div>
</div>