<header>
    <a onclick='af.ui.toggleSideMenu();' class='menuButton'></a>
    <a id="backButton" class="button backButton">Voltar</a>
    <h1>Destaque</h1>
</header>
<main>
    <div class="main-container">
      <div class="swiper-container">
      	<div class="swiper-wrapper">
      		<div class="swiper-slide"> 
        <div class="content-slide">
            <p class="title">Slide with HTML</p>
            <p>You can put any HTML inside of slide with any layout, not only images, even another Swiper!</p>
          </div>
      		 </div>
      		<div class="swiper-slide">  
         <div class="content-slide">
            <p class="title">2</p>
            <p>2</p>
          </div>
         </div>
      		<div class="swiper-slide">
          <div class="content-slide">
            <p class="title">2</p>
            <p>2</p>
          </div>
        </div>
      </div>
      </div>
       <div class="pagination"></div>
        <div class="box-destaque"></div>
    </div>
</main>