<header>
    <a onclick='af.ui.toggleSideMenu()' class='menuButton'></a>
    <a id="backButton" class="button backButton">Voltar</a>
    <h1>Institucional</h1>
</header>
<main>
    <div class="main-container">
        <h3>Conheça o SEST SENAT</h3>
        <p>O Serviço Social do Transporte (Sest) e o Serviço Nacional de Aprendizagem do Transporte (Senat) são entidades civis sem fins lucrativos criadas com o objetivo de valorizar os trabalhadores do setor de transporte.</p>

        <p>As instituições surgiram em 14 de setembro de 1993, pela Lei 8.706, a partir de um processo de conscientização do setor e das entidades sindicais. A Confederação Nacional do Transporte, com o apoio legal, ficou responsável pela criação do Sest Senat e, desde então, organiza e administra a instituição.</p>

        <p>Na área social, o Sest Senat é responsável por gerenciar, desenvolver e apoiar programas que prezam pelo bem-estar do trabalhador em áreas como saúde, cultura, lazer e segurança no trabalho. Na área educacional, o foco se volta a programas de aprendizagem, que incluem preparação, treinamento, aperfeiçoamento e formação profissional.</p>
        <p>O Serviço Social do Transporte (Sest) e o Serviço Nacional de Aprendizagem do Transporte (Senat) são entidades civis sem fins lucrativos criadas com o objetivo de valorizar os trabalhadores do setor de transporte.</p>
    </div>
</main>

