<header>
    <a onclick='af.ui.toggleSideMenu()' class='menuButton'></a>
    <a id="backButton" class="button backButton">Voltar</a>
    <h1>Saúde e Qualidade de Vida</h1>
</header>
<main>
    <div class="main-container">
        <h3>Saúde e Qualidade de Vida</h3>
        <img src="http://www.sestsenat.org.br/PublishingImages/esporte050211.jpg" style="float:left;max-width:245px">
        <p>
            A preocupação do SEST SENAT com a qualidade de vida do trabalhador em
             transporte se estende também para os campos de esporte, cultura e lazer.
        </p>
        <p>
            Por isso, as unidades contam com toda a estrutura para a realização
             de aulas desportivas e oficinas de arte, qualificação e renda.
        </p>        
        <p>
            Além disso, o SEST SENAT possui um extenso calendário de datas 
            comemorativas. Nessas ocasiões, são realizadas ações temáticas de lazer e cidadania.
        </p>
    </div>
</main>
