
<p class="logo"><i class="icon-sestsenat icon-30x"></i></p>
<ul>
    <li><a href="#institucional" data-transition="slide">Institucional<span><i class="icon-arrow-right icon-2x"></i></span></a></li>
    <li><a href="#unidades" data-transition="slide">Unidades<span><i class="icon-arrow-right icon-2x"></i></span></a></li>
    <!--<li><a href="#promocaoSocial" data-transition="fade">Promoção Social<span><i class="icon-arrow-right icon-2x"></i></span></a></li>-->
    <!--<li><a href="#profissional" data-transition="slide">Desenvolvimento Profissional<span><i class="icon-arrow-right icon-2x"></i></span></a></li>-->
    <li><a href="#destaque" data-transition="slide">Destaques<span><i class="icon-arrow-right icon-2x"></i></span></a></li>
    <li><a href="#sobre" data-transition="slide">Fale Conosco<span><i class="icon-arrow-right icon-2x"></i></span></a></li>
</ul>
