<header>
    <a onclick='af.ui.toggleSideMenu()' class='menuButton'></a>
    <a id="backButton" class="button backButton">Voltar</a>
    <h1>Promoção Social</h1>
</header>
<main>
    <div class="main-container">
        <ul class="grid">
            <li><a href="#pagina2" data-transition="fade"><i class="iconSest icon-aid gg "></i><p class="icone">Saúde</a></p></li>
            <li><a href="#qualidadedevida"><i class="iconSest icon-palestra gg "></i><p class="icone">Qualidade de vida</p></a></li>
            <li><a href="#esporte"><i class="iconSest icon-campoFutebol gg "></i><p class="icone">Esporte</p></a></li>
            <li><a href="#lazer"><i class="iconSest  icon-lazer gg"></i><p class="icone">Lazer</p></a></li>
            <li><a href="#social"><i class="iconSest icon-palestra gg "></i><p class="icone">Social</p></a></li>
            <li><a href="#cultura"><i class="iconSest icon-teatro gg"></i><p class="icone">Cultura</p></a></li>
        </ul>
        </div>
</main>
