<header>
    <a onclick='af.ui.toggleSideMenu()' class='menuButton'></a>
    <a id="backButton" class="button backButton">Voltar</a>
    <h1>Saúde e Qualidade de Vida</h1>
</header>
<main> 
    <div class="main-container">
        <h3>Saúde e Qualidade de Vida</h3>
        <img src="http://www.sestsenat.org.br/PublishingImages/saude050211.jpg" style="float:left;max-width:245px">
        <p>
            As ações voltadas para a saúde do trabalhador em transporte são prioritárias para o Sest Senat.

            As unidades tipo A , B e C, que estão localizadas em grandes centros urbanos, oferecem atendimento em Fisioterapia, Psicologia, Odontologia e Nutrição.

            As unidades tipo D, localizadas nas principais rodovias do país, oferecem atendimento em Fisioterapia e Odontologia.
        </p>
        </div>
</main>
