<header>
    <a onclick='af.ui.toggleSideMenu();' class='menuButton'></a>
    <a id="backButton" class="button backButton">Voltar</a>
    <h1>Fale conosco</h1>
</header>
<main>
    <div class="main-container">
        <p>
            Segunda a sexta-feira, das 7h às 19h, pelo
            telefone <b>0800 728 2891</b>.
            Se preferir, entre em contato pelo formulário
            abaixo.
        </p>
        <form id="formEmail">
            <input id="nomeFrom" name="nomeFrom" type="text" placeholder="Nome">
            <input id="emailFrom" type="email" name="emailFrom" placeholder="E-mail">
            <textarea id="emailBody" name="emailBody" placeholder="Mensagem" rows="5"></textarea>
            <a id="btnEnviar" href="#" class="button blue">Enviar</a>
        </form>
    </div>
</main>