<header>
    <a onclick='af.ui.toggleSideMenu()' class='menuButton'></a>
    <a id="backButton" class="button backButton">Voltar</a>
    <h1>Saúde e Qualidade de Vida</h1>
</header>
<main>
    <div class="main-container">
        <h3>Educação</h3>        
        <p>
            Garantir formação profissional de qualidade para os trabalhadores em transporte,
             atendendo às demandas do mercado de trabalho. Esse é o objetivo do Sest Senat 
            ao oferecer cursos de educação profissional em suas unidades. 
        </p>
        <p>
            Na modalidade presencial, o aluno articula o conhecimento com as experiências pessoais.
             Os cursos oferecidos são estruturados para atender ao trabalhador do transporte em qualificação,
             aperfeiçoamento e atualização. Além disso, nessa opção o Sest Senat oferece a Educação de 
            Jovens e Adultos, que são aulas do ensino fundamental e médio para pessoas que não puderam 
            frequentar a escola na idade adequada. 
        </p>
        <p>
            Já nos cursos a distância, o estudante acompanha as aulas a distância por meio da internet.
             Oferecemos duas categorias de curso: auto instrucionais e com a orientação de professores
             tutores especializados. O ambiente virtual é de fácil navegação, as aulas são de formação
             inicial e continuada, especialmente modeladas para atender às necessidades de tempo
             e espaço de cada aluno. 
        </p>
        <p>
            Os cursos técnicos a distância, por sua vez, aliam a educação profissional ao ensino a 
            distância. Elaboradas com base em levantamentos das necessidades das empresas do setor,
             as aulas oferecem formações técnicas específicas em logística e transporte de passageiros
             para o trabalhador em transporte. 
        </p>
        <p>
            Por fim, as Palestras do Sest Senat​​ complementa o ensino. Abertos também para a comunidade,
             os encontros têm temas que promovem a consciência crítica e participativa do trabalhador 
            e demais interessados.
        </p>
    </div>
</main>
