<header>
    <a onclick='af.ui.toggleSideMenu()' class='menuButton'></a>
    <a id="backButton" class="button backButton">Voltar</a>
    <h1>Unidade</h1>
</header>

<main>
    <ul class="list">
        <li><a class="btUnidade" href="#"><!--<i class="icon icon-home2 "></i>-->Samambaia Sul</a></li>
        <li><a class="btUnidade" href="#"><!--<i class="icon icon-home2 "></i>-->Setor Bancário</a></li>
        <!--<li><a >Mini Home Icon</a></li>
        <li><a class="icon settings">Settings</a></li>-->
    </ul>
</main>

